/* Overlay - фон модального вікна */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6); /* Трохи темніший фон */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: opacity 0.3s ease;
}

/* Модальне вікно */
.modal {
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  position: relative;
  text-align: center;
  animation: modalFadeIn 0.3s ease-in-out;
}

/* Анімація для модального вікна */
@keyframes modalFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Кнопка закриття */
.closeButton {
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: #333;
  cursor: pointer;
  margin-left: auto; /* Відштовхує кнопку до правого краю */
  display: block; /* Щоб забезпечити вирівнювання у flex-блоці */
}

.closeButton:hover {
  color: #f00; /* Червоний колір при наведенні */
}

/* Контейнер для аватара */
.cropperContainer {
  position: relative;
  width: 120px;
  height: 120px;
  margin: 20px auto;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #0077ff; /* Синя облямівка */
}

.preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.preview:hover {
  transform: scale(1.1);
}

/* Заголовок */
.h2 {
  font-size: 24px;
  color: #333;
  margin: 15px 0;
  font-weight: bold;
  letter-spacing: 0.5px;
}

/* Кнопки в модальному вікні */
.modalButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.modalButtons button {
  padding: 12px 25px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #0077ff;
  color: white;
  width: 45%;
}

.modalButtons button:first-child {
  background-color: #28a745;
}

.modalButtons button:first-child:hover {
  background-color: #218838;
}

.modalButtons button:last-child {
  background-color: #dc3545;
}

.modalButtons button:last-child:hover {
  background-color: #c82333;
}

.textInput {
  width: 100%;
  padding: 12px 15px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  box-sizing: border-box;
  outline: none;
  transition: border-color 0.3s ease;
}

.textInput:focus {
  border-color: #0077ff;
  box-shadow: 0 0 5px rgba(0, 119, 255, 0.5);
}

/* Локальний стиль для текстової області */
.textareaInput {
  resize: none;
  height: 100px;
}

/* Локальний стиль для поля завантаження */
.fileInput {
  margin: 15px 0;
  font-size: 14px;
}
